<footer class="footer">
  <div class="logo">
    <a href="http://localhost:4200/">
      <img src="../../../assets/img/100px-logo-white.png" alt="logo">
    </a>
  </div>
  <div class="center-links">
    <a href="#">Specials</a>
    <a href="#">Help</a>
    <a href="#">Sizing Chart</a>
  </div>
  <div class="social-media">
    <a href="#">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
    <a href="#">
      <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
    <a href="#">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
  </div>
</footer>
